
@{
    ViewBag.Title = "MessagesSent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top:50px;">Messages has been sent successfully to all account.</h2>
<p>@Html.ActionLink("Back to main", "Index", "AdminAccount")</p>



