
@{
    ViewBag.Title = "SendEmailsSuccessfully";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:-50px;">
    @Html.Partial("_Menus")
</div>

<h2 style="margin-top:50px;">Email has been sent successfully to all Emails Accounts.</h2>
<p>@Html.ActionLink("Back to main","Index","AdminAccount")</p>


