@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="menudiv" style="margin-top:80px;">
    @Html.Partial("_PublicMenus")
</div>
<div style="margin-top:90px;">

</div>