@{
    ViewBag.Title = "Confirm Email Address Sent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="menudiv" style="margin-top:73px;">
    @Html.Partial("_PublicMenus")
</div>

<link href="~/Content/Site.css" rel="stylesheet" />
<div style="margin-top:130px;">

    <div class="main-wrap4" style="margin-top:70px;">
        <div class="reset-head2" style="text-align:center;">Confirmation link sent to you.</div>


        <div style="font-size:20px; text-align:center; padding-top:20px;">
            Please check your Email Inbox, a confirmation Email is Sent to @ViewBag.Email
        </div>



    </div>


</div>