@{
    ViewBag.Title = "Password Reset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="menudiv" style="margin-top:73px;">
    @Html.Partial("_PublicMenus")
</div>

<link href="~/Content/Site.css" rel="stylesheet" />
<div style="margin-top:130px;">

    <div class="main-wrap4" style="margin-top:70px;">
        <div class="reset-head2" style="text-align:center;">Your password updated.</div>
        <div style="font-size:20px; text-align:center; padding-top:20px;">
            Your Password has been reset. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })

        </div>
    </div>

</div>